!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Gnoibox::Admin

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    = stylesheet_link_tag    "gnoibox/application", media: "all"
    = stylesheet_link_tag    "gnoibox/custom", media: "all"

    -if Gnoibox::S3.access_key_id.present?
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.15.min.js"></script>
      :javascript
          if (window.Gnoibox == null) window.Gnoibox = {};
          AWS.config.update({accessKeyId: '#{Gnoibox::S3.access_key_id}', secretAccessKey: '#{Gnoibox::S3.secret_access_key}'});
          AWS.config.region = '#{Gnoibox::S3.region}';
          Gnoibox.s3bucket = new AWS.S3({params: {Bucket: '#{Gnoibox::S3.bucket}'}, apiVersion: '2006-03-01'});

    = javascript_include_tag "gnoibox/application"
  
    -# <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    -# <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    = csrf_meta_tags

  %body(class="gnoibox")
    %header(class="navbar navbar-inverse" role="banner")
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" id="menu-toggler")
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
          %a.navbar-brand(href="/gnoibox")
            GNOIBOX
      %ul.nav.navbar-nav.pull-right.hidden-xs
        -if @box
          %li.hidden-xs.hidden-sm
            %form(action="#{gnoibox_box_items_path(@box.key)}" method="get")
              %input.search(type="text" name="q" value="#{params[:q]}")
        -# %li.dropdown
        -#   %a.dropdown-toggle.hidden-xs.hidden-sm(data-toggle="dropdown" href="#")
        -#     Your account
        -#     %b.caret
        -#   %ul.dropdown-menu
        -#     %li
        -#       =link_to 'ログアウト', destroy_gnoibox_gnoibox_author_session_path, method: :delete
        %li
          =link_to "サイトTOPへ", "/", target: "_blank"
        %li.settings.hidden-xs.hidden-sm
          %a.dropdown-toggle.hidden-xs.hidden-sm(data-toggle="dropdown" href="#" role="button")
            %i.icon-cog
          %ul.dropdown-menu
            %li
              =link_to 'ログアウト', destroy_gnoibox_gnoibox_author_session_path, method: :delete
    
    #sidebar-nav
      %ul#dashboard-menu
        %li{class: ("active" if current_page?('/gnoibox')) }
          =render partial: 'active_arrow', locals: {url: '/gnoibox'}
          =link_to gnoibox_root_path, class: 'parentmenu' do
            %i.icon-home
            %span Home
        %li.open{class: ("active" if current_page?({controller: 'boxes'})) }
          =render partial: 'active_arrow', locals: {url: {controller: 'boxes'}}
          -# =link_to gnoibox_boxes_path, class: 'parentmenu' do
          .parentmenu
            %i.icon-sitemap
            %span コンテンツ
            
          %ul.submenu(style="display:block;")
            -gnb.boxes.each do |box|
              %li=link_to box.label, gnoibox_box_items_path(box)

        -if gnb_admin?
          %li{class: ("active" if current_page?({controller: 'blocks'})) }
            =render partial: 'active_arrow', locals: {url: '/gnoibox/blocks'}
            -# =link_to gnoibox_blocks_path, class: 'parentmenu' do
            .parentmenu
              %i.icon-leaf
              %span サイトパーツ

            %ul.submenu(style="display:block;")
              -gnb.blocks.each do |block|
                %li=link_to block.label, edit_gnoibox_block_path(block)

          %li{class: ("active" if current_page?({controller: 'authors'})) }
            =render partial: 'active_arrow', locals: {url: '/gnoibox/authors'}
            =link_to gnoibox_authors_path, class: 'parentmenu' do
              %i.icon-group
              %span=Gnoibox::Author.model_name.human

          %li.open{class: ("active" if current_page?({controller: 'forms'})) }
            =render partial: 'active_arrow', locals: {url: '/gnoibox/forms'}
            -# =link_to gnoibox_forms_path, class: 'parentmenu' do
            .parentmenu
              %i.icon-edit
              %span=Gnoibox::Inquiry.model_name.human

            %ul.submenu(style="display:block;")
              -gnb.forms.each do |form|
                %li=link_to form.label, gnoibox_form_path(form)
        -else
          %li{class: ("active" if current_page?({controller: 'profiles', action: 'edit'})) }
            =render partial: 'active_arrow', locals: {url: '/gnoibox/profile/edit'}
            =link_to edit_gnoibox_profile_path do
              %i.icon-group
              %span プロフィール
    
      =render "sidebar_addition"
    
    .content
      = yield
