.row.form-wrapper
  .col-md-12

    =form_for @item, as: :item, url: (@item.persisted? ? gnoibox_box_item_path(@box.key, @item) : gnoibox_box_items_path(@box.key) ) do |f|

      -# - if @item.errors.any?
      -#   #error_explanation
      -#     - @item.errors.full_messages.each do |msg|
      -#       %span.alert-msg
      -#         %i.icon-remove-sign
      -#         = msg

      .field-box(class="#{'error' if @item.errors["url"].any?}")
        = f.label :url, 'URL', class: "required"
        .col-md-7
          =f.text_field :url, class: "form-control"
          
          -if @item.errors["url"].any?
            .column-errors.alert-msg
              -@item.errors["url"].each do |error|
                .column-error
                  %i.icon-remove-sign
                  =error

          
      -unless @box.omit_cols.include?(:title)
        .field-box
          = f.label :title, 'タイトル'
          .col-md-7
            = f.text_field :title, class: "form-control"
      -unless @box.omit_cols.include?(:description)
        .field-box
          = f.label :description, '説明'
          .col-md-7
            = f.text_area :description, class: "form-control"
      -unless @box.omit_cols.include?(:keywords)
        .field-box
          = f.label :keywords, 'キーワード'
          .col-md-7
            = f.text_field :keywords, class: "form-control"
      -unless @box.omit_cols.include?(:main_image)
        .field-box
          =f.label :main_image, 'メイン画像'
          .col-md-7
            =f.file_field :main_image
            =f.hidden_field :main_image_cache
            -if @item.main_image?
              =image_tag @item.main_image_url(:thumb), width: 200
              画像を削除する
              =f.check_box :remove_main_image
      .field-box(style="#{'display:none' if @box.omit_cols.include?(:published_at)}")
        = f.label :published_at, '日付'
        .col-md-7
          = f.datetime_select :published_at, class: "form-control"

      -if Gnoibox::Author.count > 1 && gnb_admin? && !@box.omit_cols.include?(:gnoibox_author_id)
        .field-box
          = f.label :gnoibox_author_id, 'ライター'
          .col-md-7
            =f.select :gnoibox_author_id, Gnoibox::Author.order(role: :asc).order(name: :asc).all.map{|a| [a.name, a.id]}
      -else
        =f.hidden_field :gnoibox_author_id, value: gnb_current_author.id

      %br

      -if @item.class.view_file_options
        .field-box
          = f.label :view_file, 'ビューファイル'
          .col-md-7
            = f.select :view_file, @item.class.view_file_options, class: "form-control"

      .field-box
        = f.label :status, 'ステータス'
        .col-md-7
          -# =f.select :status, @box.item_class.status_options
          -@box.item_class.status_options.each do |option|
            =f.label :status, value: option.last do
              =f.radio_button :status, option.last
              =option.first


      =f.fields_for :content, @item.content do |content_f|
        -@item.content.cols.each do |col|
          .field-box(class="#{'error' if @item.content.errors[col.name].any?}")
            =content_f.label col.label, class: "#{'required' if col.required}"

            .col-md-7
              =render partial: "gnoibox/columns/#{col.partial_name}", locals: {f: content_f, col: col, item: @item}

              -if @item.content.errors[col.name].any?
                .clearfix
                .column-errors.alert-msg
                  -@item.content.errors[col.name].each do |error|
                    .column-error
                      %i.icon-remove-sign
                      =error


      %br

      .actions
        = f.submit 'Save', class: 'btn-flat'
