.row.form-wrapper
  .col-md-12

    =form_for @item, as: :item, url: (@item.persisted? ? gnoibox_box_item_path(@box.key, @item) : gnoibox_box_items_path(@box.key) ) do |f|
      - if @item.errors.any?
        #error_explanation
          %h2= "#{pluralize(@item.errors.count, "error")} prohibited this admin_item from being saved:"
          %ul
            - @item.errors.full_messages.each do |msg|
              %li= msg

      .field-box
        = f.label :url, 'URL'
        .col-md-7
          = f.text_field :url, class: "form-control"
      .field-box
        = f.label :title, 'タイトル'
        .col-md-7
          = f.text_field :title, class: "form-control"
      -unless @box.omit_cols.include?(:description)
        .field-box
          = f.label :description, '説明'
          .col-md-7
            = f.text_area :description, class: "form-control"
      -unless @box.omit_cols.include?(:keywords)
        .field-box
          = f.label :keywords, 'キーワード'
          .col-md-7
            = f.text_field :keywords, class: "form-control"
      -unless @box.omit_cols.include?(:main_image)
        .field-box
          =f.label :main_image, 'メイン画像'
          .col-md-7
            =f.file_field :main_image
            =f.hidden_field :main_image_cache
            -if @item.main_image?
              =image_tag @item.main_image_url(:thumb), width: 200
              画像を削除する
              =f.check_box :remove_main_image
      -unless @box.omit_cols.include?(:published_at)
        .field-box
          = f.label :published_at, '日付'
          .col-md-7
            = f.datetime_select :published_at, class: "form-control"

      %br

      -if @item.class.view_file_options
        .field-box
          = f.label :view_file
          .col-md-7
            = f.select :view_file, @item.class.view_file_options, class: "form-control"

      =f.fields_for :content, @item.content do |content_f|
        -@item.content.cols.each do |col|
          .field-box
            =content_f.label col.label
            .col-md-7
              =render partial: "gnoibox/columns/#{col.partial_name}", locals: {f: content_f, col: col, item: @item}

      %br

      .actions
        = f.submit 'Save', class: 'btn-flat'
